<ul>
    <li>Username: <%= user.username %></li>
    <% if action == :show %>
        <li><%= link_to 'User Index', users_url %></li>
    <% else %>
        <li><%= link_to 'User\'s Page ', user_url(user) %></li>
    <% end %>
</ul>