<h2>Please Log In</h2>

<form method='POST' action="<%= session_url %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="Username">Username
        <input type="text" name="user[username]" value="">
    </label>
    <br>
    <label for="password">Password
        <input type="password" name="user[password]"value="">
    </label>
    <br>
    <input type="submit" value="Log In">
</form>